
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
<%= form_for(genero, html: { class: "basic-grey" }) do |f| %>

  <h1>Gênero</h1>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar Gênero", class: "button" %>
    <%= link_to 'Cancelar', generos_path, class: "button" %>
  </div>

  <% if genero.errors.any? %>
    <div id="error_explanation">
      <h2>Não foi possível salvar o gênero por um ou mais motivos:</h2>

      <ul>
      <% genero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
