<%= form_for(horario, html: { class: "basic-grey" }) do |f| %>

  <h1>Horário</h1>

  <div class="field">
    <%= f.label :horario %>

    <div class="time">
      <%= f.time_select :horario %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar Horário", class: "button" %>
    <%= link_to 'Cancelar', horarios_path, class: "button" %>
  </div>

  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2>Não foi possível salvar o horário por um ou mais motivos:</h2>

      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
