<div class= "basic-grey" >
  <nav id="menu">
    <ul>
      <li><%= link_to "Home", home_index_path %></li>
      <li><%= link_to "Filmes", filmes_path %></li>
      <li><%= link_to "Cinemas", cinemas_path %></li>
      <li><%= link_to "Pessoas", pessoas_path %></li>
      <li><%= link_to "Salas", salas_path %></li>
      <li><%= link_to "Gêneros", generos_path %></li>
      <li><%= link_to "Horários", horarios_path %></li>
    </ul>
  </nav>
</div>
