<%= form_for(pessoa, html: { class: "basic-grey" }) do |f| %>

  <h1>Pessoa</h1>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :url_foto %>
    <%= f.text_field :url_foto %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar Pessoa", class: "button"%>
    <%= link_to 'Cancelar', pessoas_path, class: "button" %>
  </div>

  <% if pessoa.errors.any? %>
    <div id="error_explanation">
      <h2>Não foi possível cadastrar a pessoa por um ou mais motivos:</h2>

      <ul>
      <% pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
