<section>
  <%= form_for(filme, html: { class: "form-horizontal" }) do |f| %>

    <div class="container">
      <h1>Filme</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :nome %>
            </span>
            <%= f.text_field :nome , class: "form-control", type:"text", placeholder: "Nome"%>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :sinopse %>
            </span>
            <%= f.text_area :sinopse , class: "form-control", type:"text", placeholder: "Sinopse"%>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :data_lancamento %>
            </span>
            <%= f.date_select :data_lancamento , class: "form-control", type: "date"%>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :imdb %>
            </span>
            <%= f.text_field :imdb , class: "form-control", type:"text", placeholder: "Imdb"%>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :classificacao %>
            </span>
            <%= f.text_field :classificacao , class: "form-control", type:"text", placeholder: "Classificação"%>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :hora %>
            </span>
            <%= f.text_field :hora , class: "form-control", type:"text", placeholder: "Hora"%>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :minuto %>
            </span>
            <%= f.text_field :minuto , class: "form-control", type:"text", placeholder: "Minuto"%>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :trailer %>
            </span>
            <%= f.text_field :trailer , class: "form-control", type:"text", placeholder: "Trailer"%>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <%= f.label :poster %>
            </span>
            <%= f.text_field :poster , class: "form-control", type:"text", placeholder: "Pôster"%>
          </div>

          <br>

          <div class="panel panel-default">
            <div class="panel-body">

              <div class="container">
                <h3>Pessoas</h3>

                          <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalPessoas">
                  Escolher Pessoas
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModalPessoas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <%= hidden_field_tag "filme[pessoa_ids][]", nil %>
                        <div class="row">
                          <% Pessoa.all.each do |pessoa| %>
                              <div class= "col-md-3">
                                <div class="thumbnail">
                                  <div class="select" >
                                    <p>
                                      <%= check_box_tag "filme[pessoa_ids][]", pessoa.id, @filme.pessoa_ids.include?(pessoa.id), id: dom_id(pessoa) %>
                                      <p align="center">
                                        <img alt="70x70" data-src="holder.js/70x70" class="img-circle" style="width: 140px; height: 140px;" src="<%= pessoa.url_foto %>" data-holder-rendered="true">
                                        <%= label_tag dom_id(pessoa), pessoa.nome %>
                                      </p>
                                    </p>
                                  </div>
                                </div>
                              </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <h3>Gêneros</h3>

                          <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalGeneros">
                  Escolher Gêneros
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModalGeneros" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <%= hidden_field_tag "filme[genero_ids][]", nil %>
                        <div class="row">
                          <% Genero.all.each do |genero| %>
                            <div class= "col-md-3">
                              <div class="thumbnail">
                                <div class="select" >
                                  <%= check_box_tag "filme[genero_ids][]", genero.id, @filme.genero_ids.include?(genero.id), id: dom_id(genero) %>
                                  <p align="center">
                                    <%= label_tag dom_id(genero), genero.nome %>
                                  </p>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">

              <div class="actions">
                <%- if !filme.nome.nil? %>
                  <%= f.submit "Editar Filme", class: "btn btn-primary" %>
                <% else %>
                  <%= f.submit "Cadastrar Filme", class: "btn btn-primary" %>
                <% end %>
                <%= link_to 'Cancelar', filmes_path, class: "btn btn-default" %>
              </div>
            </div>
          </div>

          <% if filme.errors.any? %>
            <div id="error_explanation">
              <h2>Não foi possível criar o filme por um ou mais motivos:</h2>

              <ul>
                <% filme.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>

<%= render partial: "/partials/tab_rodape" %>
