<header>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", home_index_path %></li>
        <li class="active"><%= link_to "Filmes", filmes_path %></li>
        <li><%= link_to "Cinemas", cinemas_path %></li>
        <li><%= link_to "Salas", salas_path %></li>
        <li><%= link_to "Pessoas", pessoas_path %></li>
        <li><%= link_to "Gêneros", generos_path %></li>
        <li><%= link_to "Horários", horarios_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sair", destroy_admin_session_path, method: :delete, class: ""%></li>
      </ul>
    </div>
  </nav>

</header>


  <section>

    <div class="container">
      <div class="panel panel-default">

        <div class="panel-heading">
        <!-- Conteúdo do painel -->
          <h3 class="panel-title">
            <p>
              <font>Lista de Filmes</font>
              <%= link_to t('buttons.new'), new_filme_path, class: "btn btn-primary", style: "float: right" %>
            </p>
          </h3>
        </div>

        <% @filmes.each do |filme| %>
          <div class="panel-body" style="border: 1px solid #ddd">
            <!-- Conteúdo do painel -->

            <div class="row">
              <div class="col-sm-4 col-md-3 col-lg-3 cinema-filme-poster-container" style="width: 33.3333333%">
                <img alt="Poster" title="Poster" class="img-thumbnail" src="<%= filme.poster %>" style="width: 275px; height: 350px">
              </div>

              <div class="col-sm-8 col-md-9 col-lg-9" style="width: 66.66666666%">

                <a><h2><%= filme.nome %></h2></a>

                <p><%= filme.sinopse %></p>

                <ul>
                  <li><strong>Lançamento:</strong><span> <%= filme.data_lancamento %> </span></li>
                  <li><strong>Imdb:</strong><span> <%= filme.imdb %> </span></li>

                  <li>
                    <strong>Gêneros:</strong>
                    <span>
                      <% filme.generos do |genero| %>
                        <%= genero.nome %>
                      <% end %>
                      <%- if filme.generos.count > 0 %>
                        <% filme.generos.each do |genero| %>
                          <%= genero.nome %>
                        <% end %>
                      <% else %>
                        Não existem gêneros cadastrados.
                      <% end -%>

                    </span>
                  </li>

                  <li><strong>Duração:</strong><span> <%= filme.hora %>h:<%= filme.minuto %>m </span></li>
                  <li><strong>Censura:</strong><span> <%= filme.classificacao %> </span></li>
                </ul>

                <p>
                    <%= link_to t('buttons.show'), filme, class: "btn btn-info", role: "button" %>
                    <%= link_to t('buttons.edit'), edit_filme_path(filme), class: "btn btn-primary", role: "button" %>
                    <%= link_to t('buttons.destroy'), filme, method: :delete, data: { confirm: t('messages.confirm') }, class: "btn btn-danger", role: "button" %>
                </p>

                <!--
                <div class="row">
                  <div class="col-md-5 col-lg-4">
                    <table class="table">
                      <tbody>
                        <tr>

                          <th>14:20</th><td class="text-right">Legendado - Sala 1</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              -->

              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  </section>

<%= render partial: "/partials/tab_rodape" %>
