<%= form_for(cinema, html: { class: "basic-grey" }) do |f| %>

  <h1>Cinema</h1>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

<div class="field">

  <%= f.label :latitude %>
  <div class="text_field_numerics">
    <%= f.text_field :latitude %>
  </div>

  <%= f.label :longitude %>
  <div class="text_field_numerics">
    <%= f.text_field :longitude %>
  </div>
</div>
  <div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
  </div>

  <div class="field">
    <%= f.label :bairro %>
    <%= f.text_field :bairro %>
  </div>

  <div class="field">
    <%= f.label :numero %>
    <div class="text_field_numerics">
      <%= f.text_field :numero %>
    </div>
  </div>

  <div class="field">
    <%= f.label :descricao %>

    <div class="textarea">
      <%= f.text_area :descricao %>
    </div>
  </div>

  <h3>Filmes</h3>

  <div class="field">
    <%= hidden_field_tag "cinema[filme_ids][]", nil %>
    <% Filme.all.each do |filme| %>
      <div class="select" >
        <%= check_box_tag "cinema[filme_ids][]", filme.id, @cinema.filme_ids.include?(filme.id), id: dom_id(filme) %>
        <%= label_tag dom_id(filme), filme.nome %>
        <% end %>
      <div>
  </div>

  <div class="actions">
    <%- if !cinema.nome.nil? %>
      <%= f.submit "Editar Cinema", class: "button" %>
    <% else %>
      <%= f.submit "Cadastrar Cinema", class: "button" %>
    <% end %>
    <%= link_to 'Cancelar', cinemas_path, class: "button" %>
  </div>
  <% if cinema.errors.any? %>
    <div id="error_explanation">
      <h2>Não foi possível salvar o cinema por um ou mais motivos:</h2>

      <ul>
      <% cinema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
