<%= render partial: "/partials/tab_menu" %>
<div class= "basic-grey" >
  <p id="notice"><%= notice %></p>

  <h1><%= "#{t('messages.listing')} #{@salas.model_name.human(count: @salas.count) }" %></h1>


  <table>
    <thead>
      <tr>
        <th><%= @salas.human_attribute_name("tipo") %></th>
        <th><%= @salas.human_attribute_name("lingua") %></th>
        <th><%= @salas.human_attribute_name("cinema") %></th>
        <th><%= @salas.human_attribute_name("filme") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @salas.each do |sala| %>
        <tr>
          <td><%= sala.tipo %></td>
          <td><%= sala.lingua %></td>
          <td><%= sala.cinema.nome %></td>
          <td><%= sala.filme.nome %></td>
          <td><%= link_to t('buttons.show'), sala %></td>
          <td><%= link_to t('buttons.edit'), edit_sala_path(sala) %></td>
          <td><%= link_to t('buttons.destroy'), sala, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('buttons.new'), new_cinema_path %>
</div>
