<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @sala.tipo %>
</p>

<p>
  <strong>Lingua:</strong>
  <%= @sala.lingua %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @sala.cinema %>
</p>

<p>
  <strong>Filme:</strong>
  <%= @sala.filme %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
